
services:
  app:
    build: .
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
      - PORT=5000
    command: npm run start   # تشغيل نسخة الإنتاج
    restart: unless-stopped
    volumes:
      - /app/node_modules  # لمنع الكتابة على node_modules من الخارج
